:root {
  --green: hsl(114 86.5% 40.8%);
  background-color: grey;

}

#canvas1 {
  background-color: rgb(52, 52, 52);
  position: absolute;
  /* border: 5px solid var(--green); */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}